@font-face {
    font-family: AnotherDanger;
    src: url(../RESOURCES/Fonts/AnotherDanger.otf);
}

@font-face {
    font-family: JpFont;
    src: url(../RESOURCES/Fonts/JpFont.otf);
}

@font-face {
    font-family: CutTheCrap;
    src: url(../RESOURCES/Fonts/CutTheCrap.ttf);
}

@font-face {
    font-family: GenkaiMincho;
    src: url(../RESOURCES/Fonts/GenkaiMincho.ttf);
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    pointer-events: none;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
      pointer-events: none;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
      pointer-events: none;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}


@keyframes roll {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes perturbe {
    0% {
        filter: blur(5px);
    }
    10 % {
        filter: blur(10px) invert(1)
    }
    20% {
        filter: blur(5px) invert(50);
    }
    50% {
        filter: blur(1px) invert(10);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}








body {
    background-color: black; 
    background-size: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 3s ease-in;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#lobby {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    transition: top 0.5s ease-in;
    
    text-align: center;
    color: white;
    font-family: AnotherDanger;
}

#game {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: top 1s ease-out, opacity 0.1s;
}

#level {
    position: fixed;
    top:100%;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: top 1s ease-out, opacity 1s;
    text-align: center;
    color: white;
}

#instructions {
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    color: white;
}













#title {
    font-size: 7vw;
    width: 50vw;
    margin-left: 25vw;
}

#playButton {
    font-size: 3vw;
    width: 15vw;
    margin-left: 42.5vw;
}

#instructionsButton {
    font-size: 3vw;
    width: 18vw;
    margin-left: 41vw;
}

#title, #playButton, #instructionsButton {
    transition: all 0.2s;
    cursor: pointer;
}

#title:hover, #playButton:hover, #instructionsButton:hover {
    text-shadow: 3px 3px black;
    color: crimson;
} 

#titleLevel {
    text-shadow: 3px 3px black;
    font-size: 4vw;
    font-family: CutTheCrap;
}

#retourLevel {
    transition: all 0.2s ease-out;
    transform: rotate(140deg);
    filter: drop-shadow(0 0 0.8rem white) invert(1);
    position: absolute;
    cursor: pointer;
    top: 2vh;
    left: 5vw;
    width: 5vw;
}

#retourLevel:hover {
    filter: drop-shadow(0 0 0.5rem white) invert(0);
    width: 6vw;
}






#rulesTitle {
    font-family: CutTheCrap;
    font-size: 5vw;
}



#rules {
    width: 60%;
    margin-left: 20%;
    font-family: CutTheCrap;
    font-size: 2vw;
}










#setting {
    z-index: 5000;
}


#setting:hover {
    animation: roll 1s infinite;
    cursor: pointer;
}


#menu {
    position: fixed;
    width: 50vw;
    height: 45vh;
    top: 25vh;
    left: 25vw;
    background-color: rgba(255,255,255,0.9);
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.9), inset -15px -15px 20px rgba(0,0,0,0.9);
    z-index: 11;
    transition: all 0.7s;
    text-align: center;
    font-family: JpFont;
    font-size: 3vh;
}

#menuButtons {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#darkness {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
    transition: all 1s;
}

#buttonSound, #buttonLevel, #buttonLobby, #buttonLanguage {
    background: none;
    border: none;
    padding: 2vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    cursor: pointer;
    font-family: JpFont;
}

#buttonSound:hover, #buttonLevel:hover, #buttonLobby:hover, #buttonLanguage:hover {
    color: crimson;
}

.container {
    margin: 10px;
}













.screen {
    position: absolute;
    width: 55%;
    height: 70%;
    left: 15%;
    top: 10%;
    background-color: #f7e5e1;
    transition: opacity 0.3s ease, filter 0s ease;
    opacity: 1;
}

#glitchImg {
    position: absolute;
    width: 55%;
    height: 70%;
    left: 16%;
    top: 9%;
    background-color: #f7e5e1;
    z-index: 1;
}


.screenOverlay {
    z-index: 1;
    transition: opacity 0.3s ease;
}



.cam {
    position: absolute;
    object-position: center;
    transition: all 0.3s ease-out;
    cursor: pointer;

}


.camPic {
    transition: all 0.3s ease-out;
    float: right;
    max-height: 100%;
    max-width: 100%;
}

.vent {
    position: absolute;
    object-position: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
}


.ventPic {
    transition: all 0.3s ease-out;
    float: right;
    max-height: 100%;
    max-width: 100%;
}

.cameraButton {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1%;
    
    display: table-cell;
    cursor: pointer;
    background-color: #f7e5e1;
    border:0px;
    text-align: center;
    vertical-align: middle;

}

.hingeLevel {
    animation: hinge 2s 1;
}

.levelElement {
    position: absolute;
    background-color: #cecece;
    filter: brightness(0.7);
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.9), inset -15px -15px 20px rgba(0,0,0,0.9);
    transition: all 0.5s;
}

.levelElementTrue:hover {
    filter: brightness(1);
    box-shadow: none;
}

.levelElementFalse:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



.map{
    right: 0%;
    bottom: 0%;
    position: absolute;
}











.door{
    height:11px;
    width:36px;
}




