
.screen {
    position: fixed;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background-color: #f7e5e1;
    border: 5px black groove;
    transition: top 0.3s ease;
}

.cameraButton {
    position: fixed;
    width: 200px;
    height: 50px;
    left: 1%;
    
    display: table-cell;
    cursor: pointer;
    background-color: #f7e5e1;
    border:0px;
    text-align: center;
    vertical-align: middle;

}